@media screen and (max-width: 700px) {
    
    /* visibility actions */
    .hidden {
      display: flex;
    }
    .invisible-mob {
      display: none;
    }
    /* default styles */
    body {
      position: relative;
      height: 100vh;
    }
    
    /* Navbar styles */
    .container{
      height: 120px;
    }

    .nav_container {
      padding-inline: 1rem;
    }
    .nav_left-sec {
      align-items: center;
      gap: 1rem;
    }
    .menu {
      cursor: pointer;
      z-index: 999;
    }
    
    .overlay {
      position: absolute;
      z-index: 900;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--Black);
      opacity: 75%;
      display: none;
      
    }
    .nav_links {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: fit-content;
      height: fit-content;
      z-index: 200;
      gap: 2;
      padding: 2rem;
      align-items: flex-start;
      margin: 0;
      margin-top: 8rem;
      margin-left: 1rem;
      display: none;
      flex-direction: column;
      background-color: var(--Bege);
      border-radius: 10px;
      box-shadow: 0px 0px 15px 0px #000000;
    }

    .nav_link:hover::after {
      bottom: -15px;
    }
    .active {
      display: flex;
    }
    .nav_link {
      margin: 0;
      height: 5px;
      font-weight: 700;
      left: -20px;
      color: var(--Black);
    }
    .nav_right-sec {
      gap: 1.5rem;
    }
    .cart-wrp {
      position: absolute;
      left: -180px;
      
    }
    .avatar {
      width: 30px;
    }
    /* Main section */
    main {
      flex-direction: column;
      align-items: center;
      margin-inline: 0;
      height: calc(100vh - 120px);
      width: 100%;
      margin-bottom: 4rem;
    }
    .thumbnails {
      margin-top: 2rem;
      height: 40%;
    }
    .content {
      
      height: 50%;
      display: flex;
      width: 85%;
      gap: 0;
      margin:0;
      align-items: center;
      justify-content: center;
    }
    .preview {
      display: none;
    }
    .mobile-thumb {
      position: relative;
      display: flex;
      overflow-x: hidden;
      min-width: 95vw;
      margin-top: -0.5rem;
      z-index: 1;
    }
    .mobile-thumb img {
      object-fit: cover;
      width: 100%;
      z-index: 1;
    }

    .company {
      display: none;
    }
    .title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      width: 100%;
      align-content: center;
      width: 100%;
    }
    .price {
      margin: 0;
      font-weight: 1.3rem;
      align-items: center;
      justify-content: space-between;
    }
    .buttons {
      margin-top: 1rem;
      margin-bottom: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    .amount-btn {
      width: 100%;
    }
    .add_btn {
      width: 100%;
      margin-left: 0;
    }
    #next {
      position: absolute;
      right: 10%;
      top: 50%;
      border: none;
      background-color: var(--White);
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      z-index: 10;
    }
    #previous {
      position: absolute;
      left: 10%;
      top: 50%;
      border: none;
      background-color: var(--White);
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      z-index: 10;
    }
    #previous img,
    #next img {
      width: 15px;
    }
    /* Checkout page */
    
    .checkout {
      height: 500px;
      width: 300px;
      margin-right: 2.1rem;
      margin-bottom: 2.5rem;
      border-radius: 10px;
      
    }
    .checkout__conteudo {
      font-size: 1.5rem;
    }
    .checkout__preco {
      font-size: 1.5rem;
    }
    .checkout__botao {
      height: 100px;
      width: 180px;
      border: none;
      padding: 0;
  
  }

    }

  